@model AgendaVeterinaria1.Models.Agenda

@{
    ViewData["Title"] = "Eliminar Agenda";
    ViewData["Subtitulo"] = "¿Está seguro que quiere eliminar esta Agenda?";
}

<h3>@ViewBag.Title</h3>

<h4>@ViewBag.Subtitulo</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Franja Horaria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FranjaHoraria)
        </dd>
        <dt class = "col-sm-2">
            Tope de Turnos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopeDeTurnos)
        </dd>
        <dt class = "col-sm-2">
            Fecha Desde
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>
        <dt class = "col-sm-2">
            Fecha Hasta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>
        <dt class = "col-sm-2">
            Profesional
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesional.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDAgenda" />
        <input type="submit" value="Eliminar Agenda" class="btn red darken-1" />
        <br />
        <br />
        <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left">&nbsp;</i>Volver</a>
    </form>
</div>
