@model IEnumerable<AgendaVeterinaria1.Models.Agenda>

@{
    ViewData["Title"] = "Agendas";
}

<h4>Agendas</h4>

<p>
    <a asp-action="Create">Agregar Agenda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Franja Horaria
            </th>
            <th>
                Tope de Turnos
            </th>
            <th>
                Fecha Disponibilidad Desde
            </th>
            <th>
                Fecha Disponibilidad Hasta
            </th>
            <th>
                Profesional
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FranjaHoraria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopeDeTurnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesional.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDAgenda"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.IDProfesional">Detalles</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IDAgenda"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          
        </tr>
}
    </tbody>
</table>
