@model AgendaVeterinaria1.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
    ViewData["Subtitulo"] = "¿Está seguro que quiere eliminar este Cliente?";
}

<h3>@ViewBag.Title</h3>

<h4>@ViewBag.Subtitulo</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDCliente" />
        <input type="submit" value="Eliminar Cliente" class="btn red darken-1" />
        <br />
        <br />
        <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left">&nbsp;</i>Volver</a>
    </form>

</div>
