@model AgendaVeterinaria1.Models.Mascota

@{
    ViewData["Title"] = "Eliminar Mascota";
    ViewData["Subtitulo"] = "¿Está seguro que quiere eliminar esta mascota?";
}

<h3>@ViewBag.Title</h3>

<h4>@ViewBag.Subtitulo</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Mascota
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
    </dl>
    
     <form asp-action="Delete">
        <input type="hidden" asp-for="IDMascota" />
        <input type="submit" value="Eliminar Mascota" class="btn red darken-1" />
        <br />
        <br />
        <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-left">&nbsp;</i>Volver</a>
    </form>
</div>
