@model IEnumerable<AgendaVeterinaria1.Models.Mascota>

@{
    ViewData["Title"] = "Mascotas";
    int idCliente = ViewBag.IDCliente;
}

<h4>Mascotas</h4>

<p>
    <a asp-action="Create" asp-route-id="@idCliente" >Agregar Mascota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Tipo de Mascota
            </th>
            <th>
                Detalles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDMascota"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.IDMascota">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IDMascota"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
