@model AgendaVeterinaria1.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mascota.IDMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesional.IDProfesional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDTurno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
