@model AgendaVeterinaria1.Models.Turno

@{
    ViewData["Title"] = "Editar Turno";
    string clienteDatos = ViewBag.Cliente;
}

<h4>@ViewBag.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDTurno" />
            <div class="form-group">
                <label asp-for="TipoDeTurno" class="control-label">Tipo de Turno</label>
                <input asp-for="TipoDeTurno" class="form-control" />
                <span asp-validation-for="TipoDeTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label">Hora de Turno</label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDMascota" class="control-label">Mascota</label>
                <input asp-for="IDMascota" class="form-control" hidden/>
                <br />
                <span class="control-label">@Model.Mascota.Nombre - @Model.Mascota.TipoMascota - @Model.Mascota.Detalle</span>
                <br />
                <span class="control-label"> @clienteDatos</span>
                @*<select asp-for="IDMascota" class="browser-default" style="border-bottom:solid #9e9e9e 0.5px" asp-items="ViewBag.IDCliente" disabled>
                    <option value="@Model.IDMascota" selected disabled></option>
                </select>*@
                <span asp-validation-for="IDMascota" class="text-danger"></span>
            </div>
           
            <br />
           <input type="submit" value="Guardar" class="btn btn-primary" />
            <br />
            <br />
            <a asp-action="AgendaTurnos" asp-route-id="0" class="btn btn-primary"><i class="fa fa-arrow-left">&nbsp;</i>Volver</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
