@model IEnumerable<AgendaVeterinaria1.Models.Turno>

@{
    ViewData["Title"] = "Turnos Solicitados";
}

<h4>Turnos</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Turno
            </th>
            <th>
                Detalle
            </th>
            <th>
                Fecha de Turno
            </th>
            <th>
                Horario Turno
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesional.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTurno"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.IDTurno">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IDTurno"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
