@model IEnumerable<AgendaVeterinaria1.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascota.IDMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesional.IDProfesional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTurno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDTurno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTurno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
